name: Deploy Backend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/Flask_master
            git pull origin main
            docker build -t flask-master-backend .
            docker stop flask-backend || true
            docker rm flask-backend || true
            docker run -d \
              --name flask-backend \
              -p 5000:5000 \
              flask-master-backend
